1-index_preparation/gencode/GRCh38.primary_assembly.genome.fa.gz
1-index_preparation/gencode/gencode.v25.PRI.transcripts.fa
1-index_preparation/gencode/gencode.v25.primary_assembly.annotation.gtf.gz
1-index_preparation/imgt_index.fa
